*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
  /* padding:0 40px; */
  font-family: 'Inter', Arial, sans-serif;
  background-color: #fafafa;
  color: #1a1a1a;
  line-height: 1.6;
}

/* Header section */

.header{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
    background: #ece9e9;
    border-radius: 0 0 30px 30px;
}

.header h1{
    font-size: 70px;
    width: fit-content;
    margin:0 auto;
}

/* Content section starts */


.about-content{
    border:1px solid rgba(0, 0, 0, 0.295);
    padding-left:90px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:600px;
    border-radius: 30px;
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-content > .para1::first-letter{
    font-size: 39px;
    font-weight: bold;
    color:#8a2be2;
    line-height: normal;

}

.about-content > p::first-letter{
    font-size: 23px;
    font-weight: bold;
    color:#8a2be2;
    line-height: normal;
}

.college,.company{
    text-decoration: none;
    color: #8a2be2;
    transition: all 0.3s ease;
}

.college:hover, .company:hover{
    text-decoration: underline;
    transform: scale(1.20);
}

/* content section ends */



/* Certificate section starts  */

.certificate{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border:1px solid rgba(0, 0, 0, 0.295);
    
    margin-top: 50px;
    border-radius: 30px;
    height: 200px;
    /* margin-bottom: 50px; */
}

.certificate h2{
    padding-left: 90px;
    font-size: 53px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.certificate ul{
    border:1px solid rgba(0, 0, 0, 0.295);
    list-style: none;
    width:420px;
    margin:0 auto;
    background: #f3f3f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    top:-70px;
    /* margin-bottom: 50px; */
}

.certificate ul:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}

li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

li a i{
    color:#8a2be2
}

li a:hover{
    color:#8a2be2;
    transform: scale(1.15);
}

li a:hover i{
    color:black;
    transform: scale(1.15);
}

/* Certificate section ends  */


/* Activity section starts */

.activity{
    border:1px solid rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    margin-top:147px;
    height: 240px;
    border-radius: 30px;
    margin-bottom: 250px;
}

.activity h2{
    padding-left: 90px;
    font-size: 53px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.activity ul{
    border:1px solid rgba(0, 0, 0, 0.295);
    list-style: none;
    width:704px;
    margin:0 auto;
    background: #f3f3f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    top:-70px;
    margin-bottom: 50px;
}


.activity ul:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

ul li{
    margin-top: 15px;
    margin-bottom: 10px;
}

li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

li a i{
    color:#8a2be2
}

li a:hover{
    color:#8a2be2;
    transform: scale(1.15);
}

li a:hover i{
    color:black;
    transform: scale(1.15);
}

/* Activity section ends */


/* Footer section starts */

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.233);
  border-radius: 30px 30px 0 0;
  background: #f3f3f3;
  padding: 25px 100px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

/* Middle Section */

.footer-middle {
  /* border:1px solid black; */
  margin-top: 5px;
  margin-bottom: 20px;
}

.footer-middle h2 {
  font-size: 27px;
  font-weight: 700;
}

.footer-middle h2 span {
  color: rgba(138, 43, 226, 1);
}

.footer-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn.primary {
  background: rgba(138, 43, 226, 1);
  color: #fff;
}

.btn.primary:hover {
  background-color: #5910a1;
  /* opacity: 0.8; */
}

.btn.secondary {
  border: 1px solid #333;
  color: #333;
}

.btn.secondary:hover {
  background: #333;
  color: #fff;
}

/* Bottom Section */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #b4b1b1;
  padding-top: 20px;
}

.social-icons a {
  color: #333;
  margin-right: 20px;
  font-size: 29px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: rgba(138, 43, 226, 1);
}

.footer-text {
  text-align: right;
  font-size: 0.9rem;
}

.footer-text span {
  color: rgba(138, 43, 226, 1);
}


/* Footer section ends */