*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
  /* padding:0 40px; */
  font-family: 'Inter', Arial, sans-serif;
  background-color: #fafafa;
  color: #1a1a1a;
  line-height: 1.6;
}

.header{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
   background: #ece9e9;
}

.header h1{
    /* padding-left: 90px; */
   
    font-size: 70px;
    /* border: 1px solid black; */
    width: fit-content;
    margin:0 auto;
}

/* objective starts */

.summary{
    border:1px solid rgba(0, 0, 0, 0.336);
    border-radius: 30px;
    margin:40px auto;
    /* width:900px; */
    height: 175px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 45px;
}

.summary h3{
    font-size: 53px;
    padding-left: 90px;
}

.summary p{
    border:1px solid rgba(0, 0, 0, 0.295);
    width: 900px;
    margin:0 auto;
    position:relative;
    top:10px;
    background: #f3f3f3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    border-radius: 30px;
    padding: 40px;
    font-weight: 500;
}

.summary p:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

/* objective ends  */


/* Education starts */

.education{
    border:1px solid rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    height:280px;
    /* background-color: red; */
    /* padding-bottom:40px; */
    position: relative;
    top:70px;
    margin-bottom: 250px;
    border-radius: 30px;
}


.education h3, .language h3, .interest h3{
    font-size: 53px;
    padding-left: 90px;
    margin-top: 5px;
}

.college{
    border:1px solid rgba(0, 0, 0, 0.336);
    /* background-color: rgba(0, 128, 0, 0.445); */
    position: relative;
    top:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    border-radius: 30px;
    padding: 40px;
    font-weight: 500;
    width: 900px;
    margin:0 auto;
    background: #f3f3f3;
    margin-bottom: 30px;

}


.college:hover{
    transform: translateY(-16px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

.summary i, .college i{
    color: #8a2be2;
}

#icons{
    color:black;
}
.college li{
    list-style: none;
}

/* education ends */


/* Language starts */

.language{
    border:1px solid rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    margin-bottom: 125px;
    height:170px;
    border-radius: 30px;

}

.language .lang{
    border:1px solid rgba(0, 0, 0, 0.336);
    width:350px;
    margin: 0 auto;
    position: relative;
    top:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    padding: 40px;
    background: #f3f3f3;
    margin-bottom: 30px;
    border-radius: 30px;
}

.lang:hover{
     transform: translateY(-16px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}
.lang ul{
    /* border:1px solid black; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: flex-start; 
    height: 100%;
    padding-left: 95px;   
}

.lang ul li{
    /* border: 1px solid black; */
    text-align: left;
    
}

.lang i {
    color: #8a2be2;
}

/* Languages ends */


/* Interests starts */

.interest{
    border:1px solid rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    margin-bottom: 125px;
    height:170px;
    border-radius: 30px;
}

.hobby{
    border:1px solid rgba(0, 0, 0, 0.336);
    width:350px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    transition: transform 0.7s ease, box-shadow 0.3s ease;
    background: #f3f3f3;
    margin-bottom: 30px;
    border-radius: 30px;
}

.hobby:hover{
    transform: translateY(-16px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}


.hobby li{
    text-align: left;
}

.hobby ul{
    /* border: 1px solid black; */
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: flex-start; 
    padding-left: 95px;
}

.hobby i {
    color: #8a2be2;
}


/* Interests ends */


