
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* padding:0 40px; */
  font-family: 'Inter', Arial, sans-serif;
  background-color: #fafafa;
  color: #1a1a1a;
  line-height: 1.6;
}

/* Navbar starts */

.navbar {
  background-color: rgba(255, 255, 255, 0.959);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  border: 1px solid rgba(0, 0, 0, 0.205) ;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.212);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
  background-color:rgba(136, 132, 139, 0.192) ;
  border-radius: 100%;
  padding:10px;
}

.logo .dot {
  color: #8a2be2; /* Purple */
}

.navbar nav{
    display: flex;
    justify-content: center;
}

.navbar nav .nav-links {
    /* border: 1px solid rgba(0, 0, 0, 0.466); */
    display: flex;           
    justify-content: center; 
    list-style: none;
    gap:35px;
    /* margin-right:500px */
    /* margin: 0 auto; */
}

.nav-links a:hover{
    color:#8a2be2;
}

.nav-links a {
  text-decoration: none;
  color: #333;
   font-weight: bold;
   font-size: 19px;
   transition: all 0.2s ease-in-out;
}

.nav-links a.active {
  color: rgba(138, 43, 226,1);
  font-weight: 700;
}

.navbar .bio {
    background-color: rgba(138, 43, 226,1);
    width:100px;
    height:40px;
    text-align: center;
    padding-top:8px;
    border-radius: 10px;
    overflow: hidden;
}

.bio a{
    /* border:1px solid white; */
    width:100%;
    height:100%;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left: 38px;
    padding-right: 38px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.bio:hover a{
  background-color: #6a1db5;
}

/* Nav bar ends */


/*  Hero Section starts*/

.hero {
  /* border:1px solid black; */
  background: #ece9e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:150px;
  padding-bottom: 140px;
  padding-left: 90px;
  padding-right:50px;
  gap: 50px;
  border-radius: 0 0 30px 30px;
  /* height: 750px; */
}

.hero-text {
  flex: 1;
}

.intro {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.hero h1 {
  font-size:89px ;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero h1 .purple {
  color: #8a2be2;
}

.desc {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
  text-decoration: none;  
  display: inline-block;   
}

.btn.primary {
  background-color: #8a2be2;
  color: white;
}

.btn.primary:hover {
  background-color: #6a1db5;
}

.btn.secondary {
  background-color: white;
  color: #1a1a1a;
  border: 2px solid #ccc;
}

.btn.secondary:hover {
  border-color: #8a2be2;
  color: #8a2be2;
}

/* Hero Image */
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  border-radius: 50%;
  border: 2px solid #8a2be2;
  width: 470px;
  height: 470px;
  object-fit: cover;
  box-shadow: 0 0 15px 20px rgba(137, 43, 226, 0.185);
  padding:20px;
}

/* hero section ends */

/* Project section starts */

.project{
  border:1px solid rgba(0, 0, 0, 0.295);
  margin-top: 100px;
  background: #ffffff;
  border-radius: 30px 30px 30px 30px;
  /* padding:40px; */
}

.project h1{
  padding-left: 90px;
  /* border: 1px solid black; */
  /* padding-top: 10px; */
  margin-top: 100px;
  font-size: 56px;
  /* font-weight: 800; */

}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 40px;
  justify-content: center;
  /* border:1px solid black; */
  padding-bottom:40px;
}

.project-card {
  background: #f3f3f3;
  border-radius: 20px;
  width: 530px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: transform 0.7s ease, box-shadow 0.3s ease;
}

.project-card a{
  text-decoration: none;
  color: black;
}

.project-card i{
  color: #8a2be2;
}

.project-card a:hover{
  color:#8a2be2;
  text-decoration: underline;
}

.project-card a:hover i{
  color:black;
}

.project-card:hover {
  transform: translateY(-19px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

.image-wrapper {
  background: linear-gradient(90deg, #7a00ff 0%, #b06aff 100%);
  border-radius: 16px;
  padding: 10px;
  height:320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image-wrapper img {
  height: 290px;
  width: 100%;
  border-radius: 12px;
}

.project-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 20px;
}

.project-title i {
  color: #7a00ff;
  margin-left: 8px;
}

.project-desc {
  font-size: 0.95rem;
  color: #252424;
  margin-top: 10px;
  line-height: 1.5;
}

/* Projects section ends  */


/* Skills section starts */

.skills{
  background:#ffffff;
  border:1px solid rgba(0, 0, 0, 0.295);
  margin-top: 100px;
  border-radius: 30px 30px 30px 30px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.skills h1{
  padding-left: 90px;
  /* border: 1px solid black; */
  padding-top: 50px;
  margin-top: 20px;
  font-size: 56px;
  margin-bottom: 60px;

}

.skills-section {
  /* border:1px solid black; */
  background: #f3f3f3;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  position:relative;
  top:-30px;
  margin:0 auto;
  flex-wrap: wrap;
  gap: 60px;
  width: 1100px;
  padding: 40px;
  transition: transform 0.7s ease, box-shadow 0.3s ease;
}

.skills-section:hover{
  transform: translateY(-19px);
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

.skills-category h3 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #121212;
}

.skills-category ul {
  list-style: none;
}

.skills-category li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #474747;
}


/* Skills section ends */



/* Experience section starts */

.experience{
  background:#ffffff;
  margin-top: 100px;
  border:1px solid rgba(0, 0, 0, 0.295);
  height:420px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  /* padding-bottom: 20px; */
  /* align-items: center; */
}

.experience h1{
  font-size: 56px;
  padding-left: 90px;
  padding-top: 50px;
  /* margin-top: 20px; */
}


.exp-comp{
  /* border:1px solid black; */
  /* text-align: center; */
  margin:0 auto;
  position:relative;
  top:25px;
  height: 220px;
  background:#f3f3f3 ;
  width:1000px;
  padding:20px;
  border-radius: 30px;
  transition: transform 0.7s ease, box-shadow 0.3s ease;
  
}

.exp-comp:hover{
  transform: translateY(-19px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.247);
}

.exp-comp ul{
  list-style: none;
}

.exp-comp ul li{
  /* border: 1px solid black; */
  text-align:left;
}

.exp-comp i{
  color: #8a2be2;
}

/* Experience section ends */



